<!-- Shippers list table, it hides when there is no shipper -->
<div *ngIf="champions.length !== 0">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Difficulty</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let champion of champions">
                    <td>{{champion.id}}</td>
                    <td>{{champion.name}}</td>
                    <td>{{champion.role}}</td>
                    <td>{{champion.difficulty}}</td>
                    <td><img class="thumbnail" src="{{champion.imageUrl}}" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>